# Desafío 1

<a id="section_toc"></a> 
Leemos los datos.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

data_location = "properati.csv"
properati = pd.read_csv(data_location)

<a id="section_toc"></a> 

Tamaño del DataFrame.

In [2]:
print("Cantidad de filas: ", str(properati.shape[0]))
print("Cantidad de columnas: ", str(properati.shape[1]))

Cantidad de filas:  121220
Cantidad de columnas:  26

<a id="section_toc"></a> 

Nombres de las columnas y tipo de datos.

In [3]:
properati.dtypes

Unnamed: 0                      int64
operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object

<a id="section_toc"></a> 

Veamos los primeros 5 registros.

In [4]:
properati.head(5)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
3,3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...
4,4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,...,35.0,1828.571429,1828.571429,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...

<a id="section_toc"></a> 

Información general sobre el marco de datos.

In [5]:
properati.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121220 entries, 0 to 121219
Data columns (total 26 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Unnamed: 0                  121220 non-null  int64
 1   operation                   121220 non-null  object
 2   property_type               121220 non-null  object
 3   place_name                  121197 non-null  object
 4   place_with_parent_names     121220 non-null  object
 5   country_name                121220 non-null  object
 6   state_name                  121220 non-null  object
 7   geonames_id                 102503 non-null  float64
 8   lat-lon                     69670 non-null   object
 9   lat                         69670 non-null   float64
 10  lon                         69670 non-null   float64
 11  price                       100810 non-null  float64
 12  currency                    100809 non-null  object
 13  price_aprox_local_currency  100810 non-null  float64
 14  price_aprox_usd             100810 non-null  float64
 15  surface_total_in_m2         81892 non-null   float64
 16  surface_covered_in_m2       101313 non-null  float64
 17  price_usd_per_m2            68617 non-null   float64
 18  price_per_m2                87658 non-null   float64
 19  floor                       7899 non-null    float64
 20  rooms                       47390 non-null   float64
 21  expenses                    14262 non-null   float64
 22  properati_url               121220 non-null  object
 23  description                 121218 non-null  object
 24  title                       121220 non-null  object
 25  image_thumbnail             118108 non-null  object
dtypes: float64(13), int64(1), object(12)
memory usage: 24.0+ MB

<a id="section_toc"></a> 

object, int64, float64, son los tipos de datos del DataFrame. Vemos que 12 columnas son de tipo objeto y 14 son numéricas. Se observa, también, que hay valores faltantes en 16 de ellas. 

Porcentaje de valores faltantes para cada columna.

In [6]:
round(properati.isnull().sum() / properati.shape[0],4)

Unnamed: 0                    0.0000
operation                     0.0000
property_type                 0.0000
place_name                    0.0002
place_with_parent_names       0.0000
country_name                  0.0000
state_name                    0.0000
geonames_id                   0.1544
lat-lon                       0.4253
lat                           0.4253
lon                           0.4253
price                         0.1684
currency                      0.1684
price_aprox_local_currency    0.1684
price_aprox_usd               0.1684
surface_total_in_m2           0.3244
surface_covered_in_m2         0.1642
price_usd_per_m2              0.4339
price_per_m2                  0.2769
floor                         0.9348
rooms                         0.6091
expenses                      0.8823
properati_url                 0.0000
description                   0.0000
title                         0.0000
image_thumbnail               0.0257
dtype: float64

<a id="section_toc"></a> 

Características estadísticas básicas de cada columna.

In [7]:
properati.describe()

,Unnamed: 0,geonames_id,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
count,121220.000000,1.025030e+05,69670.000000,69670.000000,1.008100e+05,1.008100e+05,1.008100e+05,81892.000000,101313.000000,68617.000000,8.765800e+04,7899.000000,47390.000000,1.426200e+04
mean,60609.500000,3.574442e+06,-34.626210,-59.266290,4.685259e+05,4.229397e+06,2.397006e+05,233.795328,133.050181,2160.086916,6.912216e+03,17.452336,3.080840,5.009234e+03
std,34993.344153,3.541306e+05,1.980936,2.299922,2.260101e+06,6.904714e+06,3.913239e+05,1782.222147,724.351479,2759.288621,2.837864e+04,120.243621,1.860773,1.204403e+05
min,0.000000,3.427208e+06,-54.823985,-75.678931,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.600000,1.510204e+00,1.000000,1.000000,1.000000e+00
25%,30304.750000,3.430234e+06,-34.669065,-58.727040,1.100000e+05,1.583309e+06,8.973388e+04,50.000000,45.000000,1218.181818,1.550000e+03,1.000000,2.000000,1.000000e+03
50%,60609.500000,3.433910e+06,-34.597985,-58.480128,1.850000e+05,2.558452e+06,1.450000e+05,84.000000,75.000000,1800.000000,2.213115e+03,3.000000,3.000000,2.000000e+03
75%,90914.250000,3.836668e+06,-34.441299,-58.395908,4.200000e+05,4.675792e+06,2.650000e+05,200.000000,150.000000,2486.411765,3.355549e+03,6.000000,4.000000,4.000000e+03
max,121219.000000,6.948895e+06,4.545843,-53.733330,6.500000e+08,8.212711e+08,4.654544e+07,200000.000000,187000.000000,206333.333333,4.000000e+06,3150.000000,32.000000,1.000150e+07

In [8]:
properati.describe(include = ['object'])

,operation,property_type,place_name,place_with_parent_names,country_name,state_name,lat-lon,currency,properati_url,description,title,image_thumbnail
count,121220,121220,121197,121220,121220,121220,69670,100809,121220,121218,121220,118108
unique,1,4,1060,1164,1,28,47203,4,121220,104055,72705,114389
top,sell,apartment,Córdoba,|Argentina|Santa Fe|Rosario|,Argentina,Capital Federal,"-34.4026444,-58.6684776",USD,http://www.properati.com.ar/1aed3_venta_depart...,AVISO LEGAL: Las descripciones arquitectónicas...,DEPARTAMENTO EN VENTA,https://thumbs4.properati.com/5/yyMiu8BHQI9KXC...
freq,121220,71065,9254,8504,121220,32316,312,87587,1,358,4855,255

<a id="section_toc"></a> 

Eliminamos columnas que consideramos irrelevantes para nuestro análisis:

   * 'country_name': solo toma valor = "Argentina".

   * 'operation' : solo toma valor = "sell".

   * 'place_with_parent_names': concatena "'country_name'|'state_name'|'place_name'".

   * 'lat-lon': concatena "'lat','lon'". 

   * 'properati_url': irrelevante para el análisis.

   * 'image_thumbnail': irrelevante para el análisis.

In [9]:
properati_reduced = properati.drop(['country_name','operation','place_with_parent_names','lat-lon','properati_url','image_thumbnail'], axis=1)

<a id="section_toc"></a> 

Controlamos.

In [10]:
properati_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121220 entries, 0 to 121219
Data columns (total 20 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Unnamed: 0                  121220 non-null  int64
 1   property_type               121220 non-null  object
 2   place_name                  121197 non-null  object
 3   state_name                  121220 non-null  object
 4   geonames_id                 102503 non-null  float64
 5   lat                         69670 non-null   float64
 6   lon                         69670 non-null   float64
 7   price                       100810 non-null  float64
 8   currency                    100809 non-null  object
 9   price_aprox_local_currency  100810 non-null  float64
 10  price_aprox_usd             100810 non-null  float64
 11  surface_total_in_m2         81892 non-null   float64
 12  surface_covered_in_m2       101313 non-null  float64
 13  price_usd_per_m2            68617 non-null   float64
 14  price_per_m2                87658 non-null   float64
 15  floor                       7899 non-null    float64
 16  rooms                       47390 non-null   float64
 17  expenses                    14262 non-null   float64
 18  description                 121218 non-null  object
 19  title                       121220 non-null  object
dtypes: float64(13), int64(1), object(6)
memory usage: 18.5+ MB

<a id="section_toc"></a> 

Veamos como se distribuye la variable 'state_name'.

In [11]:
properati_reduced['state_name'].value_counts()

Capital Federal                 32316
Bs.As. G.B.A. Zona Norte        25560
Bs.As. G.B.A. Zona Sur          13952
Córdoba                         12069
Santa Fe                        10172
Buenos Aires Costa Atlántica    10006
Bs.As. G.B.A. Zona Oeste         9322
Buenos Aires Interior            2291
Río Negro                         808
Neuquén                           733
Mendoza                           681
Tucumán                           674
Corrientes                        583
Misiones                          464
Entre Ríos                        369
Salta                             278
Chubut                            259
San Luis                          252
La Pampa                          157
Formosa                            65
Chaco                              57
San Juan                           40
Tierra Del Fuego                   31
Catamarca                          27
Jujuy                              26
Santa Cruz                         20
La Rioja                            4
Santiago Del Estero                 4
Name: state_name, dtype: int64

<a id="section_toc"></a> 
## **CAPITAL FEDERAL**

Nuestro objetivo es analizar la Ciudad Autónoma de Buenos Aires, por lo que generamos un DataFrame con los datos que corresponden a la misma.

In [12]:
mask_caba = properati_reduced.state_name == "Capital Federal"
properati_reduced_caba = properati_reduced.loc[mask_caba,:]

<a id="section_toc"></a> 

Veamos el tamaño del DataFrame.

In [13]:
print("Cantidad de filas: ", str(properati_reduced_caba.shape[0]))
print("Cantidad de columnas: ", str(properati_reduced_caba.shape[1]))

Cantidad de filas:  32316
Cantidad de columnas:  20

<a id="section_toc"></a> 


Porcentaje de valores nulos por columna.

In [14]:
round(properati_reduced_caba.isnull().sum() / properati_reduced_caba.shape[0],2)

Unnamed: 0                    0.00
property_type                 0.00
place_name                    0.00
state_name                    0.00
geonames_id                   0.04
lat                           0.26
lon                           0.26
price                         0.10
currency                      0.10
price_aprox_local_currency    0.10
price_aprox_usd               0.10
surface_total_in_m2           0.18
surface_covered_in_m2         0.07
price_usd_per_m2              0.27
price_per_m2                  0.15
floor                         0.91
rooms                         0.53
expenses                      0.80
description                   0.00
title                         0.00
dtype: float64

<a id="section_toc"></a> 

Veamos las características estadísticas básicas de cada columna.

In [15]:
round(properati_reduced_caba.describe(),0)

,Unnamed: 0,geonames_id,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
count,32316.0,31030.0,23770.0,23770.0,29018.0,29018.0,29018.0,26437.0,29977.0,23434.0,27324.0,3009.0,15325.0,6592.0
mean,61152.0,3528152.0,-35.0,-58.0,382952.0,4757013.0,269603.0,119.0,98.0,3117.0,6108.0,13.0,3.0,6357.0
std,34261.0,550474.0,0.0,0.0,1081570.0,8073753.0,457579.0,1248.0,1097.0,3681.0,23654.0,82.0,2.0,174189.0
min,0.0,3427366.0,-38.0,-64.0,5500.0,90051.0,5104.0,0.0,0.0,14.0,3.0,1.0,1.0,1.0
25%,31211.0,3429760.0,-35.0,-58.0,109000.0,1852672.0,105000.0,42.0,38.0,1966.0,2191.0,2.0,1.0,1200.0
50%,60876.0,3433775.0,-35.0,-58.0,165800.0,2774792.0,157261.0,62.0,55.0,2469.0,2777.0,4.0,3.0,2000.0
75%,87955.0,3436003.0,-35.0,-58.0,325000.0,5028682.0,285000.0,110.0,95.0,3077.0,3590.0,7.0,4.0,3800.0
max,121219.0,6693230.0,-35.0,-58.0,50000000.0,821271104.0,46545445.0,200000.0,187000.0,206333.0,2600000.0,2509.0,22.0,10001500.0

In [16]:
properati_reduced_caba.describe(include=['object'])

,property_type,place_name,state_name,currency,description,title
count,32316,32316,32316,29018,32316,32316
unique,4,62,1,3,26094,18144
top,apartment,Belgrano,Capital Federal,USD,AVISO LEGAL: Las descripciones arquitectónicas...,DEPARTAMENTO EN VENTA
freq,27037,2992,32316,27826,358,2219

<a id="section_toc"></a> 

Veamos como se distribuye la variable 'property_type'.

In [17]:
properati_reduced_caba['property_type'].value_counts()

apartment    27037
house         2087
PH            1828
store         1364
Name: property_type, dtype: int64

<a id="section_toc"></a> 

Veamos como se distribuye la variable 'currency' que toma tres valores cuando se espera que tome solo dos (USD, ARS).

In [18]:
properati_reduced_caba['currency'].value_counts()

USD    27826
ARS     1190
PEN        2
Name: currency, dtype: int64

<a id="section_toc"></a> 

Veamos los dos registros que toman valor="PEN" en la columna'currency'.

In [19]:
mask_currency = properati_reduced_caba['currency'] == "PEN"
properati_reduced_caba.loc[mask_currency,:]

,Unnamed: 0,property_type,place_name,state_name,geonames_id,lat,lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,description,title
50387,50387,apartment,Capital Federal,Capital Federal,3433955.0,NaN,NaN,380000.0,PEN,2066864.90,117139.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ref.: 55:PREVENTA ::: OPORTUNIDAD ::: Dúplex a...,DUPLEX A LA VENTA | Liniers 1200 | Tandil
50388,50388,apartment,Capital Federal,Capital Federal,3433955.0,NaN,NaN,950000.0,PEN,5167162.35,292848.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ref.: 56Duplex en venta de 1 dormitorio con ap...,DUPLEX A LA VENTA | Liniers 1200 | Tandil

<a id="section_toc"></a> 

Si bien la variable "price_per_m2" tiene un 15% de valores nulos en tanto que "price" tiene 10%, dado que la variable "surface_total_in_m2" (necesaria para computar el precio por m2) tiene 18% de valores nulos; decimos considerar para nuestro análisis la variable "price_per_m2". 

Previo hay que homogeneizar la unidad de medida (de 'price_per_m2'), es decir, que esten expresados en la misma moneda ('currency'); quedarnos solo con los que estan expresados en USD, dado que son registros cargados en distinas fechas y atendiendo tanto a la inflación como a la devaluación. En el caso que el dato este en ARS podemos ver de obtener el dato de 'price_aprox_usd' o 'price_usd_per_m2'.

De modo que eliminaremos de nuestro DataFrame las variables: 'price', 'price_aprox_local_currency'.

In [20]:
properati_reduced_caba=properati_reduced_caba.drop(['price', 'price_aprox_local_currency'], axis=1)

<a id="section_toc"></a> 

Controlamos.

In [21]:
properati_reduced_caba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32316 entries, 0 to 121219
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             32316 non-null  int64
 1   property_type          32316 non-null  object
 2   place_name             32316 non-null  object
 3   state_name             32316 non-null  object
 4   geonames_id            31030 non-null  float64
 5   lat                    23770 non-null  float64
 6   lon                    23770 non-null  float64
 7   currency               29018 non-null  object
 8   price_aprox_usd        29018 non-null  float64
 9   surface_total_in_m2    26437 non-null  float64
 10  surface_covered_in_m2  29977 non-null  float64
 11  price_usd_per_m2       23434 non-null  float64
 12  price_per_m2           27324 non-null  float64
 13  floor                  3009 non-null   float64
 14  rooms                  15325 non-null  float64
 15  expenses               6592 non-null   float64
 16  description            32316 non-null  object
 17  title                  32316 non-null  object
dtypes: float64(11), int64(1), object(6)
memory usage: 4.7+ MB

<a id="section_toc"></a> 

### Variable 'price_per_m2'

<a id="section_toc"></a> 

Detección de outliers
 
    Higher side Outliers = Q3 + 1.5 * IQR

    Lower side Outliers = Q1 – 1.5 * IQR

    IQR = Q3 – Q1

In [22]:
price_per_m2_Q1 = properati_reduced_caba.price_per_m2.quantile(0.25)
price_per_m2_Q3 = properati_reduced_caba.price_per_m2.quantile(0.75)
price_per_m2_Q3_Q1 =  properati_reduced_caba.price_per_m2.quantile(0.75) - properati_reduced_caba.price_per_m2.quantile(0.25) 

higher_side_outliers = price_per_m2_Q3 + (1.5 * price_per_m2_Q3_Q1)
lower_side_outliers = price_per_m2_Q1 - (1.5 * price_per_m2_Q3_Q1)

print ("Q1= ", str(round(price_per_m2_Q1,2)))
print ("Q3=", str(round(price_per_m2_Q3,2)))
print ("IQR=", str(round(price_per_m2_Q3_Q1,2)))
print ("Higher side Outliers= ", str(round(higher_side_outliers,2)))
print ("Lower side Outliers= ", str(round(lower_side_outliers,2)))

Q1=  2190.92
Q3= 3590.0
IQR= 1399.08
Higher side Outliers=  5688.62
Lower side Outliers=  92.29

In [23]:
mask_higher_outliers_price_per_m2 = properati_reduced_caba['price_per_m2'] > higher_side_outliers
mask_lower_outliers_price_per_m2 = properati_reduced_caba['price_per_m2'] < lower_side_outliers
mask_outliers_price_per_m2 = mask_higher_outliers_price_per_m2 | mask_lower_outliers_price_per_m2
mask_outliers_price_per_m2.value_counts()

False    29237
True      3079
Name: price_per_m2, dtype: int64

In [24]:
print("Porcentaje de Outliers en la variable 'precio_per_m2': ", str(round(properati_reduced_caba.loc[mask_outliers_price_per_m2,:].price_per_m2.shape[0]/properati_reduced_caba.price_per_m2.shape[0]*100,2)))

Porcentaje de Outliers en la variable 'precio_per_m2':  9.53

<a id="section_toc"></a> 

Generamos un DataFrame "limpio" de outliers en la variable 'price_per_m2'

In [25]:
#Máscara booleana para not ouliers
mask_higher_not_outliers_price_per_m2 = properati_reduced_caba['price_per_m2'] <= higher_side_outliers
mask_lower_not_outliers_price_per_m2 = properati_reduced_caba['price_per_m2'] >= lower_side_outliers
mask_not_outliers_price_per_m2 = mask_higher_not_outliers_price_per_m2 & mask_lower_not_outliers_price_per_m2 
mask_not_outliers_price_per_m2.value_counts()

True     24245
False     8071
Name: price_per_m2, dtype: int64

In [26]:
#Generamos un DatFrame sin ouliers en 'price_per_m2'
properati_reduce_caba_clean_outliers = properati_reduced_caba.loc[mask_not_outliers_price_per_m2,:]
properati_reduce_caba_clean_outliers.shape

(24245, 18)

<a id="section_toc"></a> 
Debemos homogeneizar la unidad de medida de la variable 'price_per_m2' a USD. Veamos como se distribuye 'currency'.

In [27]:
#Veamos si 'currency' tiene nulls
mask_currency_nulls = properati_reduce_caba_clean_outliers.currency.isnull()
mask_currency_nulls.value_counts()

False    24245
Name: currency, dtype: int64

In [28]:
properati_reduce_caba_clean_outliers['currency'].value_counts()

USD    24213
ARS       32
Name: currency, dtype: int64

<a id="section_toc"></a> 
Eliminamos los 32 registros expresados en ARS.

In [29]:
properati_reduce_caba_clean_outliers = properati_reduce_caba_clean_outliers.loc[properati_reduce_caba_clean_outliers['currency'] != 'ARS',:]
# Controlamos
print("Tamaño del DataFrame 'properati_reduce_caba_clean_outliers': ", str(properati_reduce_caba_clean_outliers.shape))
print("Cantidad de registros expresados en ARS en 'price_per_m2': ", str((properati_reduce_caba_clean_outliers['currency'] == 'ARS').sum()))

Tamaño del DataFrame 'properati_reduce_caba_clean_outliers':  (24213, 18)
Cantidad de registros expresados en ARS en 'price_per_m2':  0

<a id="section_toc"></a> 

### Variable 'floor'

In [30]:
properati_reduce_caba_clean_outliers.floor.value_counts()

1.0       528
2.0       454
3.0       339
4.0       261
5.0       214
         ...
1104.0      1
63.0        1
907.0       1
504.0       1
25.0        1
Name: floor, Length: 76, dtype: int64

<a id="section_toc"></a> 

Detección de outliers
 
    Higher side Outliers = Q3 + 1.5 * IQR

    Lower side Outliers = Q1 – 1.5 * IQR

    IQR = Q3 – Q1

In [31]:
floor_Q1 = round(properati_reduce_caba_clean_outliers.floor.quantile(0.25),0)
floor_Q3 = round(properati_reduce_caba_clean_outliers.floor.quantile(0.75),0)
floor_Q3_Q1 =  round(properati_reduce_caba_clean_outliers.floor.quantile(0.75) - properati_reduce_caba_clean_outliers.floor.quantile(0.25),0) 

higher_side_outliers_floor = round(floor_Q3 + (1.5 * floor_Q3_Q1),0)
lower_side_outliers_floor = 1

print ("Q1= ", str(round(floor_Q1,2)))
print ("Q3=", str(round(floor_Q3,2)))
print ("IQR=", str(round(floor_Q3_Q1,2)))
print ("Higher side Outliers= ", str(round(higher_side_outliers_floor,2)))
print ("Lower side Outliers= ", str(round(lower_side_outliers_floor,2)))

Q1=  2.0
Q3= 7.0
IQR= 5.0
Higher side Outliers=  14.0
Lower side Outliers=  1

In [32]:
#Cantidad de nulls en 'floor'
mask_floor_nulls = properati_reduce_caba_clean_outliers.floor.isnull()
mask_floor_nulls.value_counts()

True     21501
False     2712
Name: floor, dtype: int64

In [33]:
#Control: cantidad de not nulls en 'floor'
mask_floor_not_nulls = properati_reduce_caba_clean_outliers.floor.notnull()
mask_floor_not_nulls.value_counts()

False    21501
True      2712
Name: floor, dtype: int64

In [34]:
#Generamos un DataFrame sin nulls en 'floor' (para que funcionen las máscaras de outliers)
properati_reduce_caba_clean_outliers_not_nulls_floor = properati_reduce_caba_clean_outliers.loc[mask_floor_not_nulls,:]
print(properati_reduce_caba_clean_outliers.shape)
print(properati_reduce_caba_clean_outliers_not_nulls_floor.shape)

(24213, 18)
(2712, 18)

In [35]:
#Máscaras para outliers
mask_higher_outliers_floor = properati_reduce_caba_clean_outliers_not_nulls_floor['floor'] > higher_side_outliers_floor
mask_lower_outliers_floor = properati_reduce_caba_clean_outliers_not_nulls_floor['floor'] < lower_side_outliers_floor
mask_outliers_floor = mask_higher_outliers_floor | mask_lower_outliers_floor 
mask_outliers_floor.value_counts()

False    2586
True      126
Name: floor, dtype: int64

In [36]:
print("Porcentaje de Outliers en la variable 'floor'(%): ", str(round(properati_reduce_caba_clean_outliers_not_nulls_floor.loc[mask_outliers_floor,:].floor.shape[0]/properati_reduce_caba_clean_outliers_not_nulls_floor.floor.shape[0]*100,2)))

Porcentaje de Outliers en la variable 'floor'(%):  4.65

<a id="section_toc"></a> 

### Variable "rooms"

In [37]:
properati_reduce_caba_clean_outliers.rooms.value_counts()

3.0     3122
2.0     2946
1.0     2939
4.0     2244
5.0      815
6.0      264
7.0      132
8.0       46
9.0       20
10.0      18
12.0      10
11.0       7
17.0       3
22.0       1
15.0       1
14.0       1
13.0       1
Name: rooms, dtype: int64

In [38]:
rooms_Q1 = round(properati_reduce_caba_clean_outliers.rooms.quantile(0.25),0)
rooms_Q3 = round(properati_reduce_caba_clean_outliers.rooms.quantile(0.75),0)
rooms_Q3_Q1 =  round(properati_reduce_caba_clean_outliers.rooms.quantile(0.75) - properati_reduce_caba_clean_outliers.rooms.quantile(0.25),0) 

higher_side_outliers_rooms = round(rooms_Q3 + (1.5 * rooms_Q3_Q1),0)
lower_side_outliers_rooms = 1

print ("Q1= ", str(round(rooms_Q1,2)))
print ("Q3=", str(round(rooms_Q3,2)))
print ("IQR=", str(round(rooms_Q3_Q1,2)))
print ("Higher side Outliers= ", str(round(higher_side_outliers_rooms,2)))
print ("Lower side Outliers= ", str(round(lower_side_outliers_rooms,2)))

Q1=  2.0
Q3= 4.0
IQR= 2.0
Higher side Outliers=  7.0
Lower side Outliers=  1

In [39]:
#Cantidad de nulls en 'rooms'
mask_rooms_nulls = properati_reduce_caba_clean_outliers.rooms.isnull()
mask_rooms_nulls.value_counts()

False    12570
True     11643
Name: rooms, dtype: int64

In [40]:
#Control: cantidad de not nulls en 'rooms'
mask_rooms_not_nulls = properati_reduce_caba_clean_outliers.rooms.notnull()
mask_rooms_not_nulls.value_counts()

True     12570
False    11643
Name: rooms, dtype: int64

In [41]:
#Generamos un DataFrame sin nulls en 'rooms' (para que funcionen las máscaras de outliers)
properati_reduce_caba_clean_outliers_not_nulls_rooms = properati_reduce_caba_clean_outliers.loc[mask_rooms_not_nulls,:]
print(properati_reduce_caba_clean_outliers.shape)
print(properati_reduce_caba_clean_outliers_not_nulls_rooms.shape)

(24213, 18)
(12570, 18)

In [42]:
#Máscaras para outliers
mask_higher_outliers_rooms = properati_reduce_caba_clean_outliers_not_nulls_rooms['floor'] > higher_side_outliers_rooms
mask_lower_outliers_rooms = properati_reduce_caba_clean_outliers_not_nulls_rooms['floor'] < lower_side_outliers_rooms
mask_outliers_rooms = mask_higher_outliers_rooms | mask_lower_outliers_rooms 
mask_outliers_rooms.value_counts()

False    12125
True       445
Name: floor, dtype: int64

In [43]:
print("Porcentaje de Outliers en la variable 'rooms'(%): ", str(round(properati_reduce_caba_clean_outliers_not_nulls_rooms.loc[mask_outliers_rooms,:].rooms.shape[0]/properati_reduce_caba_clean_outliers_not_nulls_rooms.rooms.shape[0]*100,2)))

Porcentaje de Outliers en la variable 'rooms'(%):  3.54